<footer class="c-page__footer">
	</hr>
	{% if page.layout != 'amp' %}
	</hr>
	{% endif %}
	<p>&copy; {{ site.author }} {{ 'now' | date: '%Y' }}</p>
	{% if page.layout != 'amp' %}
	</br>
	{% endif %}
	<p>Follow me on: {% if site.facebook_username %}<a href="https://twitter.com/{{ site.facebook_username }}">Facebook</a>{% endif %}{% if site.facebook_username %}{% if site.github_username %} & {% endif %}{% endif %}{% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">Github</a>{% endif %}</p>
</footer>
